@import "~bootstrap/dist/css/bootstrap.min.css";

$dark: #000000;
$dark-shade: #1b1b1b;
$yellow: #ffff00;
$yellow-dark: #ffd000;
$gray: #ced4da;
$gray-lignt: #ececec;

// Overrides
body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #fafafa;
  // color: #676767;
  color: #333;
}
// .bg-dark {
//   //background-color: $dark !important;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(17, 17, 17);
}

.text-yellow {
  color: $yellow !important;
}

.text-dark {
  color: $dark-shade !important;
}

.btn-dark {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.border-radius-rounded {
  border-radius: 20px;
}

// Contact
.site-contact {
  background: #fff;

  .form-control {
    border: 0rem solid transparent;
    padding: 10px 0;
    border-radius: 0;
    //box-shadow: inset 0 -1px 0 #ddd;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    border-bottom: 1px solid #ced4da;

    &:focus {
      outline: 0;
      box-shadow: none;
      border-bottom: 2px solid $dark-shade;
    }
  }
}

// Footer
.site-footer {
  p {
    margin-bottom: 0;
  }

  .top {
    background: $dark-shade;
    color: #fff;

    .social {
      margin-top: 5px;

      li {
        cursor: pointer;
      }

      a {
        svg {
          width: 19px;
          height: 19px;
          pointer-events: none;
        }
      }
    }

    .subscription {
      margin-top: -10px;

      .form-control {
        border-color: $yellow;
        background: $dark-shade;
        color: #eee;
        outline: none;
        box-shadow: none;
        padding-right: 2.67142857em !important;

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
          border-color: $yellow-dark;
        }
      }
    }

    .links {
      .list-inline-item:not(:last-child) {
        margin-right: 16px;
      }
    }

    ul.list-inline {
      margin-bottom: 0;

      li {
        text-transform: uppercase;
        cursor: pointer;

        // svg {
        //   cursor: pointer;
        // }

        a {
          color: inherit;
          font-size: 13px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $yellow;
          }
        }
      }

      .active {
        color: $yellow;
      }
    }
  }

  .bottom {
    background: $dark;
    color: #fff;

    .developed-by {
      ul {
        margin-top: -10px;
      }
    }
  }
}

// Property page
.site-property {
  .description,
  .video-presentaion {
    .card {
      border-radius: 4px;
      border-color: #fff;
    }

    p {
      line-height: 1.6;
    }
  }
}

.property-metas {
  img {
    width: 70%;
    height: auto;
    max-height: 50px;
    padding-right: 20px;
  }

  .number {
    font-size: 24px;
  }
}

.property-meta {
  padding-bottom: 20px;
  float: left;
  width: 100%;
  border-bottom: 1px solid $gray-lignt;

  img {
    width: 40%;
    height: auto;
    max-height: 50px;
    padding-right: 20px;
    float: left;
  }

  .property-meta-item {
    display: inline-block;
    width: 25%;
    max-width: 25%;
    padding-right: 20px;
    float: left;
  }

  .property-meta-number {
    font-size: 24px;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 5px;
    width: 60%;
    float: left;
  }

  .property-meta-name {
    width: 60%;
    float: left;
    line-height: 1em;
    font-size: 15px;
  }
}

.property-meta-features {
  width: 100%;
  margin-bottom: 20px;

  .property-additional-features {
    // list-style: none;
    padding-left: 12px !important;
    column-count: 3;
  }
}

.property-slider {
  img {
    width: 100%;
    max-height: 450px;
    cursor: pointer;
  }

  .property-slider-thumbnails {
    list-style: none;
    width: 100%;
    overflow: hidden;
    padding: 0 40px;

    .thumbnail-item {
      //float: left;
      width: 25%;
      cursor: pointer;
      opacity: 0.45;
      transition: all 0.5s ease;

      img {
        width: 100%;
        height: 100px;
        object-fit: cover;
      }
      &:hover {
        opacity: 1;
      }
    }

    .thumbnail-item.tns-nav-active {
      opacity: 1;
    }

    .thumbnail-item:not(:last-child) {
      padding-right: 10px !important;
    }
  }
}

.input-icon {
  position: relative;

  button {
    color: #6c757d;
    position: absolute;
    right: 27px;
    top: 4px;
    background-color: transparent;
    border-color: transparent;
    border-left-color: #6c757d;
    outline: 0;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: 0;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    pointer-events: none;
  }
}

.card-p-2 {
  padding: 1rem;
}
