.is-loading:after,
.loader {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  animation: 1s c linear infinite;
  border: 3px solid #12263f;
  border-bottom-color: transparent;
  border-radius: 50%;
  background: transparent;
}

.is-loading-sm:after,
.loader-sm {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.is-loading-lg:after,
.loader-lg {
  width: 2rem;
  height: 2rem;
  border-width: 5px;
}

.is-loading {
  position: relative;
  color: transparent !important;
}

.is-loading > * {
  opacity: 0 !important;
}

.is-loading:after {
  position: absolute;
  top: calc(50% - 1.5rem / 2);
  left: calc(50% - 1.5rem / 2);
  content: "";
}

.is-loading-sm:after {
  top: calc(50% - 1rem / 2);
  left: calc(50% - 1rem / 2);
}

.is-loading-lg:after {
  top: calc(50% - 2rem / 2);
  left: calc(50% - 2rem / 2);
}

.is-loading-primary:after,
.loader-primary {
  border-color: #2c7be5;
  border-bottom-color: transparent;
}

.btn-primary.is-loading:after {
  border-color: #fff;
  border-bottom-color: transparent;
}

.is-loading-secondary:after,
.loader-secondary {
  border-color: #6e84a3;
  border-bottom-color: transparent;
}

.btn-secondary.is-loading:after {
  border-color: #fff;
  border-bottom-color: transparent;
}

.is-loading-success:after,
.loader-success {
  border-color: #00d97e;
  border-bottom-color: transparent;
}

.btn-success.is-loading:after {
  border-color: #fff;
  border-bottom-color: transparent;
}

.is-loading-info:after,
.loader-info {
  border-color: #39afd1;
  border-bottom-color: transparent;
}

.btn-info.is-loading:after {
  border-color: #fff;
  border-bottom-color: transparent;
}

.is-loading-warning:after,
.loader-warning {
  border-color: #f6c343;
  border-bottom-color: transparent;
}

.btn-warning.is-loading:after {
  border-color: #283e59;
  border-bottom-color: transparent;
}

.is-loading-danger:after,
.loader-danger {
  border-color: #e63757;
  border-bottom-color: transparent;
}

.btn-danger.is-loading:after {
  border-color: #fff;
  border-bottom-color: transparent;
}

.is-loading-light:after,
.loader-light {
  border-color: #edf2f9;
  border-bottom-color: transparent;
}

.btn-light.is-loading:after {
  border-color: #283e59;
  border-bottom-color: transparent;
}

.is-loading-dark:after,
.loader-dark {
  border-color: #12263f;
  border-bottom-color: transparent;
}

.btn-dark.is-loading:after,
.is-loading-white:after,
.loader-white {
  border-color: #fff;
  border-bottom-color: transparent;
}

.btn-white.is-loading:after {
  border-color: #283e59;
  border-bottom-color: transparent;
}

@keyframes c {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

#nprogress .bar {
  height: 3px;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.mt-15-percent {
  margin-top: 15%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.avatar-xs {
  width: 1.625rem;
  height: 1.625rem;
  font-size: 0.54167rem;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
}

.avatar-lg {
  width: 4rem;
  height: 4rem;
  font-size: 1.33333rem;
}

.avatar-xl {
  width: 5.125rem;
  height: 5.125rem;
  font-size: 1.70833rem;
}

.avatar-xxl {
  width: 5.125rem;
  height: 5.125rem;
  font-size: 1.70833rem;
}

@media (min-width: 768px) {
  .avatar-xxl {
    width: 8rem;
    height: 8rem;
    font-size: 2.66667rem;
  }
}

.avatar.avatar-4by3 {
  width: 4rem;
}

.avatar-xs.avatar-4by3 {
  width: 2.16667rem;
}

.avatar-sm.avatar-4by3 {
  width: 3.33333rem;
}

.avatar-lg.avatar-4by3 {
  width: 5.33333rem;
}

.avatar-xl.avatar-4by3 {
  width: 6.83333rem;
}

.avatar-xxl.avatar-4by3 {
  width: 10.66667rem;
}

/*------------------------------------
  Toasts v1
------------------------------------*/
.noty_body__icon {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem;
}

[class*="noty_theme__unify--v1"] {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 1.57143rem;
}

.noty_theme__unify--v1--dark {
  background-color: #2e3c56;
}

.noty_theme__unify--v1--light {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
}

.noty_type__success.noty_theme__unify--v1 {
  background-color: #1cc9e4;
}

.noty_type__info.noty_theme__unify--v1 {
  background-color: #1d75e5;
}

.noty_type__error.noty_theme__unify--v1 {
  background-color: #e62154;
}

.noty_type__warning.noty_theme__unify--v1 {
  background-color: #e6a821;
}

.noty_body {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

[class*="noty_theme__unify--v1"] .noty_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.noty_theme__unify--v1--light .noty_body {
  color: #41464b;
}

.noty_body__icon {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.noty_body__icon::before {
  display: block;
}

.noty_body__icon > i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.noty_theme__unify--v1 .noty_body__icon {
  background-color: rgba(245, 249, 249, 0.2);
}

.noty_theme__unify--v1--dark .noty_body__icon {
  background-color: rgba(245, 249, 249, 0.1);
}

.noty_theme__unify--v1--dark.noty_type__success .noty_body__icon {
  color: #1cc9e4;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_body__icon {
  color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_body__icon {
  color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_body__icon {
  color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_body__icon {
  background-color: rgba(28, 201, 228, 0.15);
  color: #1cc9e4;
}

.noty_theme__unify--v1--light.noty_type__info .noty_body__icon {
  background-color: rgba(29, 117, 229, 0.15);
  color: #1d75e5;
}

.noty_theme__unify--v1--light.noty_type__error .noty_body__icon {
  background-color: rgba(230, 33, 84, 0.15);
  color: #e62154;
}

.noty_theme__unify--v1--light.noty_type__warning .noty_body__icon {
  background-color: rgba(230, 168, 33, 0.15);
  color: #e6a821;
}

[class*="noty_theme__unify--v1"] .noty_close_button {
  top: 14px;
  right: 14px;
  width: 0.85714rem;
  height: 0.85714rem;
  line-height: 0.85714rem;
  background-color: transparent;
  font-weight: 300;
  font-size: 1.71429rem;
  color: #fff;
  border-radius: 0;
}

.noty_theme__unify--v1--light .noty_close_button {
  color: #cad6d6;
}

.noty_progressbar {
  height: 0.5rem !important;
}

.noty_theme__unify--v1 .noty_progressbar {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.noty_theme__unify--v1--dark.noty_type__success .noty_progressbar {
  background-color: #1cc9e4;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_progressbar {
  background-color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_progressbar {
  background-color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_progressbar {
  background-color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_progressbar {
  background-color: rgba(28, 201, 228, 0.15);
}

.noty_theme__unify--v1--light.noty_type__info .noty_progressbar {
  background-color: rgba(29, 117, 229, 0.15);
}

.noty_theme__unify--v1--light.noty_type__error .noty_progressbar {
  background-color: rgba(230, 33, 84, 0.15);
}

.noty_theme__unify--v1--light.noty_type__warning .noty_progressbar {
  background-color: rgba(230, 168, 33, 0.15);
}
